@model Dashboard.Models.ViewModel
@{
    Layout = "_Admin";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="row">
    @if (Model.Tiles.Count() > 0)
    {
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var tile in Model.Tiles)
                    {
                        <li class="list-group-item"><a href="@tile.Link" class="link-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="@tile.Description">@tile.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Icons
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/extend/icons/" class="link-primary">Bootstrap icons docs</a></li>
                <li class="list-group-item"><a href="https://icons.getbootstrap.com/" class="link-primary">Bootstrap Icons</a></li>
                <li class="list-group-item"><a href="https://feathericons.com/" class="link-primary">Feather icons</a></li>
            </ul>
        </div>
    </div>
</div>


@section VenderScripts
{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
}

@section CustomScripts
{
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}