@{
    Layout = "_Layout";
    ViewData["Title"] = "Bootstrap examples";
}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><a href="../../examples/bootstrap/album/index.html" class="text-decoration-none" target="_blank">Album</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/blog/index.html" class="text-decoration-none" target="_blank">Blog</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/carousel/index.html" class="text-decoration-none" target="_blank">Carousel</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/cheatsheet/index.html" class="text-decoration-none" target="_blank">Cheatsheet</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/checkout/index.html" class="text-decoration-none" target="_blank">Checkout</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/cover/index.html" class="text-decoration-none" target="_blank">Cover</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/dashboard/index.html" class="text-decoration-none" target="_blank">Dashboard</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/dropdowns/index.html" class="text-decoration-none" target="_blank">Dropdowns</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/features/index.html" class="text-decoration-none" target="_blank">Features</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/footers/index.html" class="text-decoration-none" target="_blank">Footers</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/grid/index.html" class="text-decoration-none" target="_blank">Grid</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/headers/index.html" class="text-decoration-none" target="_blank">Headers</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/heroes/index.html" class="text-decoration-none" target="_blank">Heroes</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/jumbotron/index.html" class="text-decoration-none" target="_blank">Jumbotron</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/list-groups/index.html" class="text-decoration-none" target="_blank">List-groups</a></li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><a href="../../examples/bootstrap/masonry/index.html" class="text-decoration-none" target="_blank">Masonry</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/modals/index.html" class="text-decoration-none" target="_blank">Modals</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/navbar-bottom/index.html" class="text-decoration-none" target="_blank">Navbar-bottom</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/navbar-fixed/index.html" class="text-decoration-none" target="_blank">Navbar-fixed</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/navbar-static/index.html" class="text-decoration-none" target="_blank">Navbar-static</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/navbars/index.html" class="text-decoration-none" target="_blank">Navbars</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/offcanvas/index.html" class="text-decoration-none" target="_blank">Offcanvas</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/offcanvas-navbar/index.html" class="text-decoration-none" target="_blank">Offcanvas-navbar</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/pricing/index.html" class="text-decoration-none" target="_blank">Pricing</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/product/index.html" class="text-decoration-none" target="_blank">Product</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/sidebars/index.html" class="text-decoration-none" target="_blank">Sidebars</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/sign-in/index.html" class="text-decoration-none" target="_blank">Sign-in</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/starter-template/index.html" class="text-decoration-none" target="_blank">Starter-template</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/sticky-footer/index.html" class="text-decoration-none" target="_blank">Sticky-footer</a></li>
                    <li class="list-group-item"><a href="../../examples/bootstrap/sticky-footer-navbar/index.html" class="text-decoration-none" target="_blank">Sticky-footer-navbar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>