@{
    Layout = "_Admin";
    ViewData["Title"] = "Bootstrap examples";
}

    <div class="row">
        <div class="row">
            <div class="col-6">
                <ul class="list-group">                    
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/album/" class="text-decoration-none" target="_blank">Album</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/blog/" class="text-decoration-none" target="_blank">Blog</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/carousel/" class="text-decoration-none" target="_blank">Carousel</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/cheatsheet/" class="text-decoration-none" target="_blank">Cheatsheet</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/checkout" class="text-decoration-none" target="_blank">Checkout</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/cover" class="text-decoration-none" target="_blank">Cover</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/dashboard" class="text-decoration-none" target="_blank">Dashboard</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/dropdowns" class="text-decoration-none" target="_blank">Dropdowns</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/features" class="text-decoration-none" target="_blank">Features</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/footers" class="text-decoration-none" target="_blank">Footers</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/grid" class="text-decoration-none" target="_blank">Grid</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/headers" class="text-decoration-none" target="_blank">Headers</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/heroes" class="text-decoration-none" target="_blank">Heroes</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/jumbotron" class="text-decoration-none" target="_blank">Jumbotron</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/list-groups" class="text-decoration-none" target="_blank">List-groups</a></li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/masonry" class="text-decoration-none" target="_blank">Masonry</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/modals" class="text-decoration-none" target="_blank">Modals</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/navbar-bottom" class="text-decoration-none" target="_blank">Navbar-bottom</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed" class="text-decoration-none" target="_blank">Navbar-fixed</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/navbar-static" class="text-decoration-none" target="_blank">Navbar-static</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/navbars" class="text-decoration-none" target="_blank">Navbars</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/offcanvas" class="text-decoration-none" target="_blank">Offcanvas</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/offcanvas-navbar" class="text-decoration-none" target="_blank">Offcanvas-navbar</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/pricing" class="text-decoration-none" target="_blank">Pricing</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/product" class="text-decoration-none" target="_blank">Product</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/sidebars" class="text-decoration-none" target="_blank">Sidebars</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/sign-in" class="text-decoration-none" target="_blank">Sign-in</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/starter-template" class="text-decoration-none" target="_blank">Starter-template</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/sticky-footer" class="text-decoration-none" target="_blank">Sticky-footer</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com/docs/5.1/examples/sticky-footer-navbar" class="text-decoration-none" target="_blank">Sticky-footer-navbar</a></li>
                </ul>
            </div>
        </div>
    </div>
